# Copie este archivo como terraform.tfvars y complete sus datos

region          = "us-east-2"
nombre_proyecto = "lab-tf"
alumno          = "2023100941"
instance_type   = "t3.micro"
puerto_http = 80